/* global styles */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

body {
    padding: 1rem;
} 

h1 {
    font-size: 2rem;
    margin-right: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: black;
}

header a:hover, #projects a:hover {
    text-decoration: underline;
}

/* header section */
header {
    display: flex;
    align-items: baseline;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
}

header ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

header a:hover {
    text-decoration: underline;
}

/* main section */
main {
    margin-bottom: 2rem;
}
/* about me section */
#about-me {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.img-container {
    max-width: 20rem;
    min-width: 10rem;
}

#img-paul {
    max-width: 100%;
    height: auto;
}

#about-text {
    margin-top: 2rem;
    max-width: 65%;
}

#about-me p {
    margin: 1.5rem 1rem;
}

/* Projects section */
#projects {
    margin-bottom: 3rem;
}

#projects ul {
    margin-left: 2rem;
    list-style-type: square;
}

#projects li {
    margin: 1rem 0;
}

/* Skills section */
#skills {
    margin-bottom: 3rem;
}

#skills img {
    margin: 0 1rem;
}

/* Contact section */
#contact {
    display: none;
}
#contact p, #contact a {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

/* footer section */
footer {
    background-color: #5D92F5;
    text-align: center;
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    #about-me {
        flex-direction: column;
    }
    #about-text {
        max-width: 100%;
    }
    #about-text p {
        margin-left: 0;
    }
}

@media only screen and (max-width: 427px) {
    * {
        font-size: 14px;
    }
    header {
        align-items: center;
        justify-content: space-around;
    }
    header ul li {
        display: block;
    }
}